body{
  
    background-size: cover;
    background-repeat: no-repeat;
}

.login{
    width: 100%;
    height: 100vh; /*viewport height*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(to right, #0000FF, #ADD8E6); */ 
   
    background-size: cover;
    background-repeat: no-repeat;
}

